@import url('https://fonts.googleapis.com/css?family=Fenix');
html,
body {
  font-family: 'Fenix', serif;
}
[data-title] {
  position: relative;
  cursor: pointer;
  font-size: 18px;
  vertical-align: middle;
}
[data-title]:hover::before {
  content: attr(data-title);
  position: absolute;
  bottom: -30px;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 2px;
  background: #000;
  color: #fff;
  font-size: 12px;
  font-family: sans-serif;
  white-space: nowrap;
  left: -25px;
  min-width: 75px;
  text-align: center;
}
[data-title]:hover::after {
  content: '';
  position: absolute;
  bottom: -7px;
  left: 5px;
  display: inline-block;
  color: #fff;
  border: 8px solid transparent;
  border-bottom: 8px solid #000;
}

.mdi-format-color-text::after {
  content: '';
  width: 12px;
  height: 12px;
  background: #333;
  display: inline-block;
  position: relative;
  top: -2px;
  border-radius: 2px;
}

.btn {
  border: none;
  min-width: 80px;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
  background: #ffcc00;
  color: #0c1c31;
}

.btn.red-button {
  background: #b76e79;
  color: #ffffff;
  text-transform: uppercase;
}

.btn.btn-cancel {
  background: #efe0e4;
  color: #999999;
  text-transform: uppercase;
}

.btn.red-button.lg {
  font-size: 18px;
  padding: 20px;
  margin-bottom: 20px;
}

.mdi:focus {
  background-color: #0c1c31;
}
.subtle {
  color: #999999;
}
.title {
  color: #b76e79;
}

.title.caps {
  text-transform: uppercase;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
}
.flex-grid-item {
  width: 33.333%;
  padding: 0 4px;
  margin-bottom: 8px;
}

.flex-grid-item.col6 {
  width: 50%;
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #0c1c31;
}

.header-right-icons {
  display: inline-block;
  font-size: 24px;
  vertical-align: middle;
}

.header-right-icons * {
  color: #ffcc00;
  margin: auto 15px;
}

.logo {
  display: inline-block;
  max-width: 200px;
}

.logo img {
  width: 100%;
}

.main-content {
  padding-left: 395px;
}
.canvas-style {
  text-align: center;
  margin: 0 0 10px;
  padding: 5px 5px;
}

.canvas-style.selected {
  background: #eee;
  border: 2px solid #ffcc00;
}

.canvas-layout {
  height: 150px;
  width: 100%;
  border: 1px solid;
  background: white;
}

.left-panel {
  height: 92vh;
  overflow: auto;
  background: #fff;
  position: fixed;
  width: 380px;
}

.icon {
  background: #b76e79;
  font-size: 18px;
  color: #fff;
  padding: 5px;
  display: inline-block;
  overflow: hidden;
}

.filter-icon {
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

.icon.lg {
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

.icon.add-new {
  max-width: 100px;
  margin: auto;
  display: block;
}

.components,
.products {
  margin-top: 20px;
}
.nav-tabs {
  height: 100%;
  background: #b76e79;
  margin-bottom: 20px;
  padding-top: 50px;
  min-width: 75px;
}
.nav-tabs .nav-link {
  color: #fff;
  background: #b76e79;
  padding: 15px 2px;
  border: none;
  border-radius: 0;
  text-align: center;
  transition: all 0.3s 0s ease;
}

.nav-tabs .nav-link.active {
  color: #b76e79;
  background-color: #ffffff;
}

.tab {
  display: none;
}

.tab.active {
  display: block;
}

.product-image img {
  width: 100%;
  margin-bottom: 10px;
}
.gray-bg {
  background: #f2f3f4;
}
.top-panel {
  text-align: left;
  padding: 10px 5px;
  background: #d6d6d6;
}
.top-panel i {
  margin-right: 10px;
  font-size: 18px;
}
.top-panel .state-icons i {
  margin-right: 5px;
}
.editor-icons select,
.editor-icons .font-select > a {
  background: #d6d6d6;
  border: none;
  padding: 0;
}
.editor-icons .font-select {
  width: auto;
  max-width: 165px;
  vertical-align: middle;
}
.top-panel .item-action-icons {
  text-align: right;
}
.form-control.board-title {
  background: #f2f3f4;
  border: none;
  padding: 0;
}
.form-control.board-title:hover,
.form-control.board-title:focus {
  background: #ffffff;
  border: 1 solid #ccc;
}
.canvas {
  width: 100%;
  height: 75vh;
  background: #ffffff;
}
.canvas-content {
  margin-top: 10px;
  padding: 0;
}

.canvas-icons {
  text-align: right;
  color: #666;
  position: relative;
  top: 7px;
}
.canvas-icons a {
  color: #666;
}
.canvas-icons i {
  margin-right: 10px;
}
.left-panel .left-tabs {
  height: 100%;
  position: fixed;
  top: 58px;
}
.left-panel .left-tab-pane {
  margin-left: 80px;
  margin-right: 5px;
}

.left-panel .tab {
  padding: 20px 0;
  overflow: auto;
}

.left-panel .category-label {
  height: 100%;
  vertical-align: middle;
  font-size: 16px;
  padding: 5px;
  line-height: 1.2;
  min-height: 85px;
}
.left-panel .category-label i {
  display: block;
  font-size: 30px;
}
.left-panel .products {
  padding-bottom: 100px;
}
.left-panel .input-group {
  margin-bottom: 15px;
}
.left-panel .input-group .input-group-append .input-group-text {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px 10px;
  border: none;
}
.bottom-panel {
  position: fixed;
  bottom: 0;
  left: 75px;
  width: 305px;
  border: 1px solid #b76e79;
  background: #ffffff;
}

.product-cont {
  display: flex;
}
.product-cont img {
  max-width: 100px;
  margin-right: 10px;
}
.product-cont .product-info {
  flex: 1;
}
.product-cont .brand {
  color: #999999;
}
.price {
  color: #b76e79;
}
.product-cont .icon {
  float: right;
}

.mobile-filter {
  position: absolute;
  left: 800px;
  right: 0;
  top: 60px;
  bottom: 0;
  background: #efe0e4;
  z-index: 100;
  overflow: hidden;
  transition: all 0.3s 0s ease;
}

.mobile-filter.open {
  left: 0;
}

.filter-header {
  padding: 5px;
  border-bottom: 2px solid #fff;
  position: relative;
}

.filter-title {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  min-width: 130px;
  padding-left: 5px;
  color: #b76e79;
  text-transform: uppercase;
}
.filter-header .clear-all-btn {
  float: right;
  margin-right: 50px;
  font-size: 18px;
}
.filter-header .close-btn {
  position: absolute;
  background: #b76e79;
  color: #ffffff;
  font-size: 24px;
  padding: 0 10px;
  right: 0;
  top: 0;
}

.filter-section {
  display: flex;
  min-height: 500px;
}
.filter-section .tabs {
  border-right: 1px solid #ffffff;
}
.filter-section .nav-link {
  text-transform: capitalize;
  color: #b76e79;
  border-bottom: 1px solid #ffffff;
}

.filter-section .nav-link.active {
  background: #b76e79;
  color: #fff;
}
.filter-section .item-list {
  list-style-type: none;
  padding: 0px;
  margin: 10px;
  white-space: normal;
  text-align: left;
  margin-right: 0;
  max-height: 350px;
  overflow: auto;
}
.filter-section .item-list .filter-item {
  color: #b76e79;
  margin-right: 10px;
  padding: 1px 0;
}

.filter-section .clear-filter {
  margin-right: 10px;
}

.tab-pane.filter.active {
  display: block;
}
.tab-pane.filter {
  display: none;
  width: 70%;
}

.filter-label {
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 1;
}

.filter-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  right: 0;
  height: 15px;
  width: 15px;
  border-radius: 2px;
  border: 1px solid #b76e79;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.filter-label input:checked ~ .checkmark:after {
  display: block;
}

.filter-label .checkmark:after {
  left: 4px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid #b76e79;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal {
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  background: #fff;
  box-shadow: 0 0 1px 1px #ccc;
  padding: 10px;
  border-radius: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}
.backdrop.show {
  display: block;
}

.modal.show {
  display: block;
}

.modal.add-product-modal,
.modal.background-modal {
  padding: 30px;
  max-width: 500px;
  max-height: 500px;
}

.modal.confirmation-modal {
  width: 280px;
  height: 100px;
}

.modal.canvas-config {
  max-width: 500px;
  max-height: 630px;
}

.canvas-config h2 {
  margin-bottom: 35px;
}

.modal .close-icon {
  float: right;
}

.modal .modal-action {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.modal .modal-action .step-count {
  margin-top: 10px;
}

.step {
  display: none;
}

.step .content {
  min-height: 300px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  flex-wrap: wrap;
}
.step .content div {
  width: 100%;
}

.step.active {
  display: block;
}

.step h4 {
  margin-bottom: 40px;
  text-align: center;
}

.step .form-control {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #ccc;
}

.step .img-modal {
  max-width: 250px;
  margin: 10px auto;
  display: block;
}

.catalog-item {
  display: flex;
}

.catalog-item .product-tag {
  height: 22px;
  padding: 0;
  width: 20px;
  text-align: center;
  font-size: 14px;
  border-radius: 2px;
  margin-right: 5px;
}
.catalog-item h5 {
  margin: 0;
}
.custom-products {
  display: none;
}
.custom-products.show {
  display: block;
}
.canvas-pallete {
  text-align: center;
}
.canvas-pallete-color {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
  margin: 0.5rem;
}
.color-white {
  background-color: #ffffff;
  border: 1px solid #000000;
}
.color-red {
  background-color: #ff0000;
}
.color-black {
  background-color: #000000;
}
.color-gray {
  background-color: #808080;
}
.color-blue {
  background-color: #0000ff;
}
.color-green {
  background-color: #008000;
}
.canvas-pallete-floor-patterns {
  height: 35px;
  width: 35px;
  display: inline-block;
  margin: 0.5rem;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #000000;
  width: 15px;
  height: 15px;
}
.canvas-pallete-color.selected {
  -webkit-box-shadow: 0px 0px 2px 2px #ffc107;
  -moz-box-shadow: 0px 0px 2px 2px #ffc107;
  box-shadow: 0px 0px 2px 2px #ffc107;
}
.canvas-pallete-floor-patterns.selected {
  -webkit-box-shadow: 0px 0px 2px 2px #ffc107;
  -moz-box-shadow: 0px 0px 2px 2px #ffc107;
  box-shadow: 0px 0px 2px 2px #ffc107;
}
.carousel-control-next,
.carousel-control-prev {
  width: 5%;
  margin: -1%;
}
.carousel {
  margin-bottom: 2%;
}
@media screen and (max-width: 767px) {
  .logo {
    max-width: 100px;
  }
  .main-content {
    padding-left: 15px;
  }

  .top-panel .item-action-icons {
    text-align: left;
  }
  .top-panel i {
    font-size: 20px;
  }
  .state-icons {
    float: right;
    width: 30%;
    padding: 0px;
    font-size: 20px;
  }
  .editor-icons {
    white-space: nowrap;
    max-width: 340px;
  }
  .editor-icons .font-select {
    width: 120px;
  }
  .canvas-content {
    max-width: 360px;
    margin: auto;
  }
  .canvas {
    width: 100%;
    height: 400px;
  }
  .top-panel-hide {
    display: none;
  }
  .left-panel {
    overflow: hidden;
    position: fixed;
    bottom: -645px;
    width: 100%;
    border: none;
    border-top: 2px solid;
    transition: all 0.3s 0s ease;
    height: 700px;
    padding: 35px 5px;
    left: 0;
    right: 0;
    z-index: 1;
  }
  .left-panel.open {
    bottom: -100px;
  }
  .left-panel.open.board {
    bottom: -300px;
  }
  .left-panel .toggle-icon {
    padding: 4px 12px;
    color: #ffcc00;
    border-radius: 100%;
    background: #0c1c31;
    font-size: 24px;
    bottom: 30px;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    transition: all 0.3s 0s ease;
  }
  .left-panel .toggle-icon i {
    transition: all 0.3s 0s ease;
  }
  .left-panel .toggle-icon.open {
    bottom: 577px;
  }

  .left-panel.board .toggle-icon.open {
    bottom: 375px;
  }

  .left-panel .toggle-icon.open i:before {
    transform: rotate(45deg);
  }

  .left-panel .left-tabs {
    position: absolute;
    top: 60px;
    left: 0;
  }

  .left-panel.open .left-tabs {
    top: 0;
  }
  .left-panel .left-tab-pane {
    height: 700px;
    overflow: auto;
    padding: 0 0 150px;
  }

  .left-panel .bottom-panel {
    bottom: 100px;
    left: 75px;
    right: 0;
    width: auto;
    position: absolute;
  }
  .mobile-filter {
    top: 90px;
  }

  .mobile-filter.open {
    left: 10px;
    right: 10px;
  }

  .modal.add-product-modal {
    max-width: 100%;
    left: 0;
    right: 0;
    transform: none;
    bottom: -15px;
    max-height: 480px;
    top: auto;
  }

  .step h4 {
    margin-bottom: 20px;
    text-align: left;
  }

  .step .img-modal {
    max-width: 200px;
  }
  .catalog-panel {
    position: static;
    max-width: 340px;
    margin: 10px auto;
  }
  .modal-action {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .canvas-pallete-floor-patterns {
    height: 2rem;
    width: 2rem;
    display: inline-block;
    margin: 0.5rem;
  }
  .canvas-pallete-color {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    display: inline-block;
    margin: 0.5rem;
  }
  .editor-icons-secondary {
    text-align: left;
    margin-left: 2%;
  }
  .carousel-inner {
    overflow: visible;
  }
  .modal-action.selected {
    position: relative;
    margin: 2%;
    bottom: 0;
    left: 0;
    transform: translateX(0%);
  }
}
