@import url("https://fonts.googleapis.com/css?family=Fenix");
html,
body {
  font-family: "Fenix", serif;
}

.btn {
  border: none;
}
.btn-primary {
  background: #ffcc00;
}

.btn.red-button {
  background: #b76e79;
  color: #ffffff;
  text-transform: uppercase;
}

.btn.btn-cancel {
  background: #efe0e4;
  color: #999999;
  text-transform: uppercase;
}

.btn.red-button.lg {
  font-size: 18px;
  padding: 20px;
  margin-bottom: 20px;
}

.nav-tabs {
  margin-bottom: 20px;
}
.subtle {
  color: #999999;
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #0c1c31;
}

.header-right-icons {
  display: inline-block;
}

.header-right-icons * {
  color: #ffcc00;
  margin: auto 15px;
}

.logo {
  display: inline-block;
  max-width: 200px;
}

.logo img {
  width: 100%;
}

.left-panel {
  padding: 20px 10px;
  border-right: 1px solid #333333;
  min-height: 600px;
  position: relative;
}

.icon {
  background: #b76e79;
  font-size: 18px;
  color: #fff;
  padding: 5px;
  display: inline-block;
}

.filter-icon {
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

.icon.lg {
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

.components,
.products {
  margin-top: 20px;
}

.nav-tabs .nav-link {
  color: #0c1c31;
  background-color: #efe0e4;
}

.nav-tabs .nav-link.active {
  color: #b76e79;
  background-color: #ffffff;
}

.tab {
  display: none;
}

.tab.active {
  display: block;
}

.product-image img {
  width: 100%;
  margin-bottom: 10px;
}

.top-panel {
  text-align: right;
  margin: 10px 0;
  max-width: 650px;
}
.top-panel i {
  margin-right: 15px;
}
.top-panel .suffix {
  display: inline-block;
  margin-left: -15px;
  margin-right: 15px;
}

.canvas {
  width: 650px;
  height: 500px;
  background: #eeeeee;
  margin: 20px 0;
}

.canvas-bottom-icons {
  background-color: #f1f1f1;
  max-width: 650px;
  margin: 20px 0;
  letter-spacing: 10px;
}

.left-panel .tab {
  max-height: 70vh;
  overflow: auto;
}
.left-panel .products {
  padding-bottom: 100px;
}
.bottom-panel {
  position: absolute;
  bottom: 0;
  left: 15px;
  right: 15px;
  border: 1px solid #b76e79;
  background: #ffffff;
}

.product-cont {
  display: flex;
}
.product-cont img {
  max-width: 80px;
  margin-right: 10px;
}
.product-cont .brand {
  color: #999999;
}
.price {
  color: #b76e79;
}
.product-cont .icon {
  float: right;
}

.mobile-filter {
  position: absolute;
  left: 480px;
  right: 0;
  top: 50px;
  bottom: 0;
  background: #efe0e4;
  z-index: 100;
  overflow: hidden;
  transition: all 0.3s 0s ease;
}

.mobile-filter.open {
  left: 0;
}

.filter-header {
  padding: 5px;
  border-bottom: 2px solid #fff;
  position: relative;
}

.filter-title {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  min-width: 130px;
  padding-left: 5px;
  color: #b76e79;
  text-transform: uppercase;
}
.filter-header .clear-all-btn {
  float: right;
  margin-right: 50px;
  font-size: 18px;
}
.filter-header .close-btn {
  position: absolute;
  background: #b76e79;
  color: #ffffff;
  font-size: 24px;
  padding: 0 10px;
  right: 0;
  top: 0;
}

.filter-section {
  display: flex;
}

.filter-section .nav-link {
  text-transform: capitalize;
  color: #b76e79;
  border: 1px solid #ffffff;
}

.filter-section .nav-link.active {
  background: #b76e79;
  color: #fff;
}
.filter-section .item-list {
  list-style-type: none;
  padding: 0px;
  margin: 10px;
  white-space: normal;
  text-align: left;
  margin-right: 0;
  max-height: 290px;
  overflow: auto;
}
.filter-section .item-list .filter-item {
  color: #b76e79;
  margin-right: 10px;
  padding: 1px 0;
}

.filter-section .clear-filter {
  margin-right: 10px;
}

.tab-pane.filter.active {
  display: block;
}
.tab-pane.filter {
  display: none;
  width: 70%;
}

.filter-label {
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 1;
}

.filter-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  right: 0;
  height: 15px;
  width: 15px;
  border-radius: 2px;
  border: 1px solid #b76e79;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.filter-label input:checked ~ .checkmark:after {
  display: block;
}

.filter-label .checkmark:after {
  left: 4px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid #b76e79;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal.show {
  display: block;
}

.modal.add-product-modal {
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 1px 1px #ccc;
  max-width: 500px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  max-height: 500px;
}

.modal.confirmation-modal {
  padding: 10px;
  background: #b76e79;
  color: #ffffff;
  box-shadow: 0 0 1px 1px #ccc;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  width: 280px;
  height: 100px;
  border-radius: 10px;
}

.modal .close-icon {
  float: right;
}

.modal .modal-action {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.step {
  display: none;
}

.step.active {
  display: block;
}

.step h4 {
  margin-bottom: 40px;
  text-align: center;
}

.step .form-control {
  border: none;
  border-bottom: 1px solid #333333;
  margin-bottom: 15px;
}

.step .img-modal {
  max-width: 250px;
  margin: 10px auto;
  display: block;
}
.catalog-panel {
  position: absolute;
  top: 80px;
  right: -257px;
  border: 1px solid #0c1c31;
  padding: 10px;
  height: 300px;
  transition: all 0.3s 0s ease;
}
.catalog-panel.open {
  right: 0;
}
.catalog-panel .fa-times {
  display: none;
}
.catalog-panel.open .fa-times {
  display: inline-block;
}
.catalog-panel .fa-info {
  display: inline-block;
}
.catalog-panel.open .fa-info {
  display: none;
}

.catalog-panel .toggle-catalog {
  position: absolute;
  left: -30px;
  top: 0;
  background: #333;
  color: #ffcc00;
  width: 30px;
  height: 30px;
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-top: 2px;
}

.catalog-panel .catalog-item {
  display: flex;
}

.catalog-panel .product-tag {
  height: 22px;
  padding: 0;
  width: 20px;
  text-align: center;
  font-size: 14px;
  border-radius: 2px;
  margin-right: 5px;
}
.custom-products {
  display: none;
}
.custom-products.show {
  display: block;
}
@media screen and (max-width: 480px) {
  .logo {
    max-width: 100px;
  }

  .top-panel {
    text-align: center;
  }

  .canvas {
    max-width: 340px;
    height: 380px;
    margin: 10px auto;
  }
  .canvas-bottom-icons {
    max-width: 340px;
    margin: 10px auto;
  }
  .left-panel {
    overflow: hidden;
    position: fixed;
    bottom: -550px;
    background: #fff;
    border: none;
    border-top: 2px solid;
    transition: all 0.3s 0s ease;
    max-height: 400px;
    padding: 50px 20px;
    left: 0;
    right: 0;
  }
  .left-panel.open {
    bottom: -100px;
    overflow: scroll;
  }
  .left-panel .toggle-icon {
    padding: 4px 12px;
    color: #ffcc00;
    border-radius: 100%;
    background: #0c1c31;
    font-size: 24px;
    bottom: 30px;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    transition: all 0.3s 0s ease;
  }
  .left-panel .toggle-icon i {
    transition: all 0.3s 0s ease;
  }
  .left-panel .toggle-icon.open {
    bottom: 475px;
  }
  .left-panel .toggle-icon.open i {
    transform: rotate(45deg);
  }
  .left-panel .tab {
    max-height: 350px;
    overflow: auto;
  }
  .left-panel .products {
    padding-bottom: 100px;
  }

  .left-panel .bottom-panel {
    bottom: 100px;
    background: #ffffff;
  }

  .modal.add-product-modal {
    max-width: 100%;
    left: 0;
    right: 0;
    transform: none;
    bottom: -15px;
    max-height: 480px;
    top: auto;
  }

  .step h4 {
    margin-bottom: 20px;
    text-align: left;
  }

  .step .img-modal {
    max-width: 200px;
  }
  .catalog-panel {
    position: static;
    max-width: 340px;
    margin: 10px auto;
  }
}
